<style>
    .wideWidth {
        width: 100%; 
        font-weight: bold;
    }
    .zeroWidth {
        width: 0%;
    }
</style>

<table class="table table-bordered">
<caption>Информация о продукции</caption>
<thead>
    <th class="col-sm-8">Тип материала</th>
    <th class="col-sm-2">Толщина, мк</th>
    <th class="col-sm-2">Удельный вес, г/м&sup2;</th>
</thead>

<tbody>
    
<tr class="info">
    <td class="wideWidth">Упаковка для мороженого и кондитерских изделий</td>
    <td class="zeroWidth"></td>
    <td class="zeroWidth"></td>
</tr>
    
<tr> 
    <td>Пленка полипропиленовая перламутровая </td>
    <td>35</td>
    <td>26</td>
</tr>
              
<tr> 
    <td>Пленка полипропиленовая металлизированная</td>
    <td>30</td>
    <td>28</td>
</tr>
    
<tr> 
    <td>Пленка полипропиленовая прозрачная</td>
    <td>35</td>
    <td>32</td>
</tr>
    
<tr> 
    <td>Фольга кашированная</td>
    <td>-</td>
    <td>75</td>
</tr>
    
<tr> 
    <td>Бумага ламинированная</td>
    <td>-</td>
    <td>80</td>
</tr>
    
<tr> 
    <td>Полифан белый (Турция)</td>
    <td>26</td>
    <td>25</td>
</tr>
    
<tr> 
    <td>Полифан белый (Израиль)</td>
    <td>25</td>
    <td>23</td>
</tr>
    
<tr class="info"> 
    <td class="wideWidth">Упаковка для молочных продуктов</td>
    <td class="zeroWidth"></td>
    <td class="zeroWidth"></td>
</tr>
    
<tr> 
    <td>Пергамент</td>
    <td>-</td>
    <td>50 - 70</td>
</tr>
    
<tr>
    <td>Бумага жировлагостойкая</td>
    <td>-</td>
    <td>50 - 70</td>
</tr>
    
<tr> 
    <td>Полиэтилен двухслойный (молочные продукты)</td>
    <td>90</td>
    <td>86</td>
</tr>
    
<tr class="info"> 
    <td class="wideWidth">Упаковка для пищевых продуктов</td>
    <td class="zeroWidth"></td>
    <td class="zeroWidth"></td>
</tr>
    
<tr> 
    <td>Бумага офсетная</td>
    <td>-</td>
    <td>60</td>
</tr>
    
<tr> 
    <td>Бумага газетная</td>                
    <td>-</td>
    <td>40 - 50</td>
</tr>
    
<tr class="info"> 
    <td class="wideWidth">Картон</td>
    <td class="zeroWidth"></td>
    <td class="zeroWidth"></td>
</tr>
    
<tr> 
    <td>Картон марки Б-350 (картон-основа для рубероида)</td>
    <td></td>
    <td>1950 грн. (до 10 т) договорная (от 10 до 20 т)</td>
</tr>
    
</tbody>

    
</table>
