<div class="panel panel-info">
    <div class="panel-heading">
        Купить упаковку: &#9742; 057 740 75 05
    </div>    
    <div class="panel-body">
        Купить картон: &#9742; 057 740 71 08
    </div>   
</div>

<div class="list-group">
    <div class="list-group-item active">
        <p class="list-group-item-text">Производим картон </p>
    </div>
    
    <a href="/products" class="list-group-item">
        <p class="list-group-item-text">Марка Б 350</p>
    </a>
    
    <a href="/products" class="list-group-item">
        <p class="list-group-item-text">Марка Б 420</p>        
    </a>
   
    <a href="/products" class="list-group-item">
        <p class="list-group-item-text">Кровельный</p>           
    </a>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Производим упаковку для </h3>
    </div>    
    <div class="panel-body">
        Фармацевтической промышленности
    </div>   
    <div class="panel-body">
        Пищевой промышленности
    </div>
</div>
