<div class="list-group">
    <a href="/" class="list-group-item active">
        <p class="list-group-item-text">Главная</p>
    </a>
    <a href="/about" class="list-group-item">
        <p class="list-group-item-text">О предприятии</p>
    </a>
    
    <a href="/products" class="list-group-item">
        <p class="list-group-item-text">Продукция</p>
    </a> 
  
    <a href="/prices" class="list-group-item">
        <p class="list-group-item-text">Цены</p>
    </a>  
  
    <a href="/articles" class="list-group-item">
        <p class="list-group-item-text">Статьи</p>
    </a>

    <a href="/links" class="list-group-item">
        <p class="list-group-item-text">Ссылки</p>
    </a>

    <a href="/contacts" class="list-group-item">
        <p class="list-group-item-text">Контакты</p>
    </a>

    <a href="/info" class="list-group-item">
        <p class="list-group-item-text">Информация эмитента</p>
    </a>
</div>

