<h3>ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ</h3> 
<h4>картона кровельного Б - 350 (ТУ У 00278830-003-2000).</h4>

<table class="table table-striped table-hover ">
  <thead>
    <tr>      
      <th>Наименование показателей</th>
      <th>Значение</th>      
    </tr>
  </thead>
  <tbody>
    <tr>      
      <td>Масса 1 м², при стандартной влажности, (г)</td>
      <td>350 (+28) (-18)</td>      
    </tr>
    <tr>      
      <td>Column content</td>
      <td>Column content</td>      
    </tr>
    <tr class="info">      
      <td>Column content</td>
      <td>Column content</td>      
    </tr>
    <tr class="success">      
      <td>Column content</td>
      <td>Column content</td>      
    </tr>
    <tr class="danger">     
      <td>Column content</td>
      <td>Column content</td>      
    </tr>
    <tr class="warning">
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="active">      
      <td>Column content</td>
      <td>Column content</td>      
    </tr>
  </tbody>
</table> 

<p>По согласованию с потребителями допускается вес рулона 150 кг </p>

<h3>ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ</h3> 
<h4>картона кровельного Б - 420 (ТУ У 00278830-003-2000).</h4>

<table class="table table-striped table-hover ">
  <thead>
    <tr>      
      <th>Наименование показателей</th>
      <th>Значение</th>      
    </tr>
  </thead>
  <tbody>
    <tr>      
      <td>Масса 1 м², при стандартной влажности, (г)</td>
      <td>420 (+35) (-21))</td>      
    </tr>
    <tr>      
      <td>Column content</td>
      <td>Column content</td>      
    </tr>
    <tr class="info">      
      <td>Column content</td>
      <td>Column content</td>      
    </tr>
    <tr class="success">      
      <td>Column content</td>
      <td>Column content</td>      
    </tr>
    <tr class="danger">     
      <td>Column content</td>
      <td>Column content</td>      
    </tr>
    <tr class="warning">
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="active">      
      <td>Column content</td>
      <td>Column content</td>      
    </tr>
  </tbody>
</table> 
