<h2>О предприятии</h2>

<p><img src="/static/img/makul1.jpg" class="img-responsive img-thumbnail center-block" alt="Макулатура" /></p>

<p>Роганская картонная фабрика была основана в 1858 г. Основной продукцией до 1935 г. являлась обёрточная бумага, сырьём для которой служили солома и тряпьё.</p>

<p>С 1935 г. фабрика стала специализироваться на выпуске картона кровельного, используемого как основа под рубероид.</p>

<p>В настоящее время ПАО "Роганская картонная фабрика" выпускается картон марки Б-350 и Б-420. Сырьём для его производства является макулатура и тряпьё. Картон пользуется спросом как на внутреннем, так и на внешнем (фирма "Изоляция" /Польша/) рынках.</p>

<p>В 1990 г. на фабрике введено в эксплуатацию современное оборудование, предназначенное для производства рулонной упаковки флексографским способом печати. До 1997 г. ПАО "Роганская картонная фабрика" специализировалось на производстве обоев.</p>
    
<p>С 1997 г. фабрика производит цветную рулонную упаковку для пищевой и фармацевтической промышленности. Оборудование представляет собой 2 шестикрасочные машины с центральным барабаном Olimpia 716 SCV SU фирмы Windmuller and Helscher /Германия/. Одна из флексомашин укомплектована лакировочным узлом.</p>

<p>Обе машины предусмотрены для печати с рулона на рулон. 
Максимальная ширина полотна материала 720 мм. 
Максимальная ширина печати - 670 мм.</p>

<p>Упаковка изготавливается из материалов фирм Mobil Plastics Europe (Exxon Mobil Chemical) /Бельгия/, Radici film S.p.A /Италия/, Hutni Zavodi Bridlicna 2.5 /Чехия/, SCP-Ружомберок /Словакия/, Hoechst Trespaphan GmbH /Германия/, Троицкой бумажной фабрики, Малинской бумажной фабрики и др. Выбор поставщиков основан на качестве и стоимости материалов, а следовательно, продукция фабрики отвечает требованиям по качеству и выгодно отличается ценой.</p>

<p>Работа фабрики ориентирована на постоянное совершенствование продукции для удовлетворения разнообразных потребностей упаковочной индустрии посредством обеспечения для каждой конкретной упаковки оптимальной комбинации свойств, направленных на надёжную защиту упаковываемого продукта, эффективную переработку на фасовочных автоматах, привлекательность и экономическую эффективность упаковки.</p>

<p>Как любое развивающееся предприятие, Роганская картонная фабрика продолжает осваивать новые рынки, постоянно наращивая свои производственные мощности.</p>

<p>На данный момент среди наших клиентов хладокомбинаты, молокозаводы, кондитерские фабрики.</p>

<p>ПАО Роганская картонная фабрика на деле доказывает способность удовлетворить потребности своих клиентов.</p>