<h3>Статьи о флексографии</h3>
<p>Здесь собраны наиболее интересные статьи о технологии флексографии.</p>

<ol>
<li><a href="http://www.ufta.kiev.ua/"> Е.Л. Немировский, проф., д-р исторических наук, "История флексографской печати". (журнал «Флексо Плюс« №2 (2), 1997 г.)</a></li>

<li><a href="http://www.relc.com/fm/upakovka"> Мартин Дреер Дюпон
"Все будет цифровым, а флексографская цветопроба — нет?".
(журнал «Флексо Плюс« №4 (10), август 1999 г.)</a></li>

<li><a href="http://www.packaging.kiev.ua/"> С. Каргапольцев, 
"Особенности дизайна для флексографии и оптимизация параметров печатных форм".
(журнал «Флексо Плюс« №4 (16), август 2000 г.)</a></li>

<li><a href="http://www.ufta.kiev.ua/r/s6.htm"> А. Ласкин, 
"Лазеры в системах записи на цифровых фотополимерах"
(«Флексо Плюс« №6 (18), декабрь 2000 г.)</a></li>
</ol>