<h3>Контактная информация</h3>

<h4>Адрес: </h4>
<p>62481, Харьковская область, пгт Рогань, ул. Ленина, 57 </p>
<img src="/static/img/map.gif" />


<h4>Банковские реквизиты:</h4>
<p>р/с 26008263090100 в ХФ АКИБ "УкрСиббанк" "ХРУ"</p> 
<p>МФО 351641</p> 
<p>ОКПО 00278830</p> 
<p>ИНН 002788320239</p> 
<p>Свидетельство № 28018675</p> 

<h4>Телефоны и электронная почта:</h4>

<strong>Председатель правления</strong>
<p>Ладыженский Геннадий Владимирович - (057) 740-72-90, lgv@rkf.com.ua </p>

<strong>Секретарь</strong> - (057) 740-72-75, secretar @ rkf.com.ua

<strong>Главный бухгалтер</strong> - (057) 740-73-60

<p><strong>Подразделение производства гибкой рулонной упаковки</strong></p>
<p<strong>Отдел сбыта</strong> - (057) 757-27-15, 740-74-60, marketing@rkf.com.ua</p>
<p<strong>Отдел снабжения</strong> - (057) 740-75-69</p>


<p><strong>Подразделение производства кровельного картона</strong></p>
<p><strong>Отдел сбыта (по картону)</strong> - (057) 740-71-08, sbut_karton@rkf.com.ua </p>
<p><strong>Отдел снабжения</strong> - (057)740-75-65 </p>


<p><strong>Инженер по компьютерным системам</strong> - (057) 740-75-48, root@rkf.com.ua</p>

