<h2>Новости</h2>

<img src="/static/img/mainbanner.gif" class="img-responsive img-thumbnail center-block" alt="Роганская картонная фабрика" style="width: 35%" />

<h3>5 августа:</h3>

<p>Відкрите акціонерне товариство "Роганська картонна фабрика" з 29 квітня 2011 року Змінило своє найменування на Публічне акціонерне товариство "Роганська картонна фабрика", згідно з вимогами Закону України "Про акціонерні товариства". Починаючи з 29 квітня 2011 року, повним найменуванням є:</p>

<p>Українською мовою: <strong>Публічне акціонерне товариство "Роганська картонна фабрика".</strong></p>
<p>Скорочене найменування: <strong>ПАТ "Роганська картонна фабрика".</strong></p>
<p>Російською мовою: <strong>Публичное акционерное общество "Роганская картонная фабрика".</strong></p>
<p>Скорочене найменування:<strong>ПАО "Роганская картонная фабрика".</strong></p>
