<h3>Тематические ссылки</h3>

<ul>
    <li><a href="http://www.ufta.kiev.ua/">Украинская Флексографская Техническая Ассоциация</a></li>
    
    <li><a href="http://www.relc.com/fm/upakovka">"Упаковка" (Украина) - журнал для производителей и потребителей тары и упаковки.</a></li>
    
    <li>
        <a href="http://www.packaging.kiev.ua/">"Мир упаковки" в интернет - бизнес-организатор для производителей и потребителей упаковки.</a>
    </li>
    
    <li>
        <a href="http://www.ufta.kiev.ua/r/s6.htm">"Флексодрук Ревю" (Украина) - независимый украинский журнал о флексографии для полиграфистов на русском языке, освещающий все аспекты современной флексографской промышленности.</a>
    </li>
    
    <li>
        <a href="http://www.flexoplus.ru/">«Флексо Плюс» (Россия) - журнал о технологии, оборудовании и материалах для флексографии и специальных видов печати: трафаретной, глубокой, тампопечати и др.</a>
    </li>
</ul>


