<h2>Оформление заказа</h2>

<form class="form-horizontal" role="form" name="theForm" id="theForm" action="/processOrder" method="POST">
    <fieldset>
        <legend>Оставьте вашу контактную информацию</legend>
        <div class="form-group">
            <label for="name" class="col-lg-2 control-label">Ваше имя</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="name" name="name" placeholder="Имя">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-lg-2 control-label">E-mail</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="email" name="email" placeholder="example@mail">
            </div>
        </div>
        <div class="form-group">
            <label for="phone" class="col-lg-2 control-label">Телефон</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="phone" name="phone" placeholder="например, +38 (098) 777 777 ">
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-lg-2 control-label">Описание заказа</label>
            <div class="col-lg-10">
                <input type="textarea" class="form-control" id="description" name="description" placeholder="нужен картон блаблабла">
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-primary">Отправить</button>
            </div>            
        </div>
    </fieldset>    
</form>