<script src="/static/js/jssor.slider.mini.js"></script>
<script src="/static/js/slide.js"></script>
<link rel="stylesheet" href="static/css/slide.css" media="screen"></link> 

<style>
    
</style>


<h2>Наша продукция</h2>

<div class="panel panel-default">
    <div class="panel-body text-center">
        {{> slide }}
    </div>    
</div>
 



<p>В настоящее время ПАО "Роганская картонная фабрика" выпускает картон марки Б-350, Б-420 и цветную рулонную упаковку для пищевой и фармацевтической промышленности.</p>

<p>Полноцветная флексопечать выполняется на всех видах бумаги, полиэтиленовых и полипропиленовых плёнках, кашированной фольге, пергаменте, ламинатах. </p>

<p>Ниже Вы можете ознакомиться с некоторыми образцами упаковки нашего производства, просто нажимая на эскизы.</p>

 

<hr />

<p>Сырьём для производства картона является макулатура и тряпьё. Картон пользуется спросом как на внутреннем, так и на внешнем (фирма "Изоляция" /Польша/) рынках.</p>



{{> table }}



